
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:http="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="utf-8">
    <title>发表问题 编辑问题 公用</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="keywords" content="fly,layui,前端社区">
    <meta name="description" content="Fly社区是模块化前端UI框架Layui的官网社区，致力于为web开发提供强劲动力">
    <script th:src="@{/layui/layui.js}" charset="utf-8"></script>
    <link rel="stylesheet" type="text/css"  th:href="@{/res/layui/css/layui.css}">
    <link rel="stylesheet" type="text/css"  th:href="@{/res/css/global.css}">

</head>
<body>

<div th:replace="index/head :: myheader"  ></div>

<div class="layui-container fly-marginTop">
    <div class="fly-panel" pad20 style="padding-top: 5px;">
        <!--<div class="fly-none">没有权限</div>-->
        <div class="layui-form layui-form-pane">
            <div class="layui-tab layui-tab-brief" lay-filter="user">
                <ul class="layui-tab-title">
                    <li class="layui-this">爱心捐赠</li>
                </ul>
                <div class="layui-form layui-tab-content" id="LAY_ucm" style="padding: 20px 0;">
                    <div class="layui-tab-item layui-show">
                        <form id="saveForm" method="post">
                            <span class="msg" style="color:red;"></span>
                            <input type="hidden" name="aid" th:value="${aid}">



                            <div class="layui-row layui-col-space15 layui-form-item">
                                <div class="layui-col-md9">
                                    <label for="price" class="layui-form-label">金额</label>
                                    <div class="layui-input-block">
                                        <input type="number" name="price" id="price" lay-verify="required|number"  autocomplete="off" class="layui-input">
                                        <!-- <input type="hidden" name="id" value="{{d.edit.id}}"> -->
                                    </div>
                                </div>
                            </div>

                            <div class="layui-col-md3">
                                <label class="layui-form-label">支付方式</label>
                                <div class="layui-input-block">
                                    <select lay-verify="required" name="payway" lay-filter="column">
                                        <option value="微信">微信</option>
                                        <option value="支付宝">支付宝</option>
                                    </select>
                                </div>
                            </div>

                            <div class="layui-row layui-col-space15 layui-form-item">
                                <div class="layui-col-md9">
                                    <label for="price" class="layui-form-label">备注</label>
                                    <div class="layui-input-block">
                                        <textarea type="number" name="note" id="note" lay-verify="required"  required class="layui-textarea"></textarea>
                                        <!-- <input type="hidden" name="id" value="{{d.edit.id}}"> -->
                                    </div>
                                </div>
                            </div>




                            <div class="layui-form-item">
                                <button class="layui-btn" lay-filter="*" type="button" id="save">立即捐赠</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div th:replace="index/footer :: indexfooter"  ></div>

<script type="text/javascript" th:src="@{/js/jquery-3.6.0.js}"></script>

<script src="../../res/layui/layui.js"></script>


<script>

    layui.use([ 'form','jquery','layer','laydate','upload' ], function() {
        var form = layui.form,
            layer = layui.layer,
            laydate = layui.laydate,
            upload = layui.upload,
            $= layui.jquery;
        form.render();//这句一定要加，占坑




        /*   laydate.render({
          elem: '#schoolTime'
        });
          laydate.render({
          elem: '#day'
        });  */

        var uploadInst = upload.render({
            elem: '#test2'
            ,url: 'upload'
            ,accept:'images'
            ,size:50000
            ,before: function(obj){

                obj.preview(function(index, file, result){

                    $('#demo2').attr('src', result);
                });
            }
            ,done: function(res){
                //如果上传失败
                if(res.code > 0){
                    return layer.msg('上传失败');
                }
                //上传成功
                var demoText = $('#demoText');
                demoText.html('<span style="color: #4cae4c;">上传成功</span>');
                console.log(res.data.src);
                $("#photo").val(res.data.src);
                // var fileupload = $(".img");
                // fileupload.attr("value",res.data.src);
                // console.log(fileupload.attr("value"));
            }
            ,error: function(){
                //演示失败状态，并实现重传
                var demoText = $('#demoText2');
                demoText.html('<span style="color: #FF5722;">上传失败</span> <a class="layui-btn layui-btn-xs demo-reload">重试</a>');
                demoText.find('.demo-reload').on('click', function(){
                    uploadInst.upload();
                });
            }
        });
    });
</script>

<script>

    $("#save").click(function() {
        var price = $("#price").val();
        if (price=="") {
            $("span.msg").text("捐赠金额不许为空！");
            return false;
        }
        if (price>500) {
            $("span.msg").text("捐赠金额不许超过500！");
            return false;
        }

        $.ajax({
            cache : true,
            type : "post",
            url : "addDonate",
            data : $("#saveForm").serialize(),
            async : false,
            success : function(e) {
                if (e == 'yes') {
                    alert("捐赠成功！");
                    document.location.reload();//当前页面
                } else {
                    alert("捐赠失败！");
                }
            }
        })
        setTimeout(function(){ $(".msg").html("")},2000);
    });

</script>
<script>
    layui.cache.page = 'jie';
    layui.cache.user = {
        username: '游客'
        ,uid: -1
        ,avatar: '../../res/images/avatar/00.jpg'
        ,experience: 83
        ,sex: '男'
    };
    layui.config({
        version: "3.0.0"
        ,base: '../../res/mods/'
    }).extend({
        fly: 'index'
    }).use('fly');
</script>

</body>
</html>